<div class="wrapper">
    <div class="photo">
        <div class="img svg-img-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 346 400">
                <defs>
                    <clipPath id="clip-shape-about">
                        <polygon points="342,297.5 173,395 4,297.5 4,102.5 173,5 342,102.5" />
                    </clipPath>
                </defs>
                <image class="body" x="-7.734%" y="0" width="115.47%" height="100%" xlink:href="/img/javascript.webp" clip-path="url({{Main.page.url}}#clip-shape-about)"
                />
            </svg>
        </div>
        <div class="icons">
            <a href="https://www.linkedin.com/in/catalinbesleaga01/" target="_blank" rel="noopener noreferrer" class="icon linkedin">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                </svg>
            </a>
            <a href="https://github.com/katalonne" target="_blank" rel="noopener noreferrer" class="icon github">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                </svg>
            </a>
            <a href="skype:catalinbesleaga98?userinfo" target="_blank" rel="noopener noreferrer" class="icon skype">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                </svg>
            </a>
            <a href="https://t.me/zeroxcatalin" target="_blank" rel="noopener noreferrer" class="icon telegram">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                </svg>
            </a>
            <!-- <a href="https://twitter.com/" target="_blank" rel="noopener noreferrer" class="icon twitter">
                <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                </svg>
            </a> -->
        </div>
    </div>
    <section class="intro">
        <span class="greeting">Hi,</span>
        <h1>I'm a front&#8209;end engineer with 8+&nbsp;years of professional experience,
            based in&nbsp;Iasi.</h1>
        <div accordion>
            <p>I develop
                <strong>compelling designs that spring to life</strong> using transition and animations that suit the needs
                <br>
                <br>Worked in both
                <strong>Agile</strong> and
                <strong>Waterfall</strong> environments.
                Tested front-end code in multiple browsers to ensure cross-browser compatability.
                <span class="more-about-me">
                    <span>
                        <br>I’m
                        <strong>passionate about the power of colours and shapes</strong> in developing a great new design, and
                        <strong>JavaScript</strong> offers me endless fascinating possibilities in devising just the right solution.
                        <br>
                        <br>
                        Leveraged responsive web frameworks to consistently complete product deliverables ahead of schedule.
                        <br>
                        <br>
                        Executed and contributed to full-stack web development projects, with an emphasis on front end features, browser manipulation, and cross-browser compatibility.
                        <br>
                        <br>In my spare time, I play poker or learn programming paradigms.
                </span>
            </p>
            <div class="icon-container more-container" ng-click="toggle()">
                <div class="icon more" ng-class="{ 'minus': open == true }">
                    <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                    </svg>
                </div>
                <span>{{ open == true ? 'less' : 'more' }} about me...</span>
            </div>
        </div>
    </section>
    <section class="skill clear">
        <h2>Skills and Techniques</h2>
        <section class="col first">
            <div class="icon-container">
                <div class="icon static large development">
                    <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                    </svg>
                </div>
                <h3>DEVELOPMENT</h3>
            </div>
            <div class="text">
                <p>
                    <strong>Skills:</strong>
                </p>
                <ul class="half">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Sass/Less</li>
                    <li>PostCSS</li>
                    <li>Gulp/Grunt/Webpack</li>
                    <li>Git/Svn</li>
                    <li>Git-Flow</li>
                    <li>Linux-cli</li>
                </ul>
                <ul class="half">
                    <li>JavaScript</li>
                    <li>ReactJs/Redux</li>
                    <li>VueJs/Vuex</li>
                    <li>AngularJS</li>
                    <li>Angular2+</li>
                    <li>jQuery</li>
                    <li>Python</li>
                    <li>Flask</li>
                    <li>Django</li>
                </ul>
                <p>
                    <strong>Patterns and Techniques:</strong>
                </p>
                <ul>
                    <li>Object Oriented Programming</li>
                    <li>MVC</li>
                    <li>
                        <a href="https://facebook.github.io/flux/docs/overview.html" target="_blank" rel="noopener noreferrer">Flux</a>
                    </li>
                    <li>Ajax</li>
                    <li>Performance Optimisation Techniques</li>
                </ul>
                <p>I can work closely with designers and back-end engineers, as a sole front-end or in
                    <strong>Agile</strong>&nbsp;teams.</p>
            </div>
        </section>
        <section class="col last">
            <div class="icon-container">
                <div class="icon static large design">
                    <svg class="shape" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                        <polygon class="hexagon" points="47,37.5 25,50 3,37.5 3,12.5 25,0 47,12.5" />
                    </svg>
                </div>
                <h3>DESIGN</h3>
            </div>
            <div class="text">
                <p>
                    <strong>Tools:</strong>
                </p>
                <ul>
                    <li>Adobe Photoshop</li>
                    <li>Adobe Illustrator</li>
                    <li>Zeplin</li>
                    <li>Figma</li>
                </ul>
                <p>
                    <strong>Techniques:</strong>
                </p>
                <ul>
                    <li>Pixel Perfect Layouts</li>
                </ul>
                <p>Taking advantage of my development knowledge I can find the best way to make a layout reliable and consistent.
                    <br>
                    <br>Nowdays I'm mostly
                    <strong>focused on development</strong> but from time to time I like to design my own projects and explore
                    <strong>new visual trends</strong>.</p>
            </div>
        </section>
    </section>
</div>